
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primaty-bg-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* --- Basic Recommendation Styles --- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.header-logo,
.footer-logo {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-second {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* --- Кнопки (часть) ---  */
.hero-button,
.filter-button {
  display: border-box;
  font-family: inherit;
  cursor: pointer;
  border: 0;
}
.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* --- Логотип ---  */
.header-logo {
  display: inline-block;
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-primary-text);
}
.logo-web {
  color: var(--accent-color);
}

/* --- Хэдер ---  */
.main-header {
  border-bottom: 1px solid #ececec;
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
  color: var(--logo-primary-text);
}
.nav-link.link.current {
  color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-contancts-links {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
  color: var(--primary-text-color);
}

.phone-icon,
.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-contancts-links:hover,
.header-contancts-links:focus {
  color: var(--accent-color);
}

.map:hover,
.footer-contacts:hover,
.map:focus,
.footer-contacts:focus {
  color: var(--accent-color);
}
.header-nav,
.header-nav-list,
.features-list,
.header-contacts {
  display: flex;
  align-items: center;
}

.header-nav {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav-list {
  margin-right: auto;
}
.main-header .container {
  display: flex;
  align-items: center;
}
.header-nav .nav-link {
  padding-top: 10px;
  padding-bottom: 32px;
}

.header-contacts .header-contancts-links {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-nav-list,
.header-contacts {
  gap: 50px;
}
.main-header .header-contacts {
  margin-left: auto;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.nav-link {
  position: relative;
}

/* --- Футер ---  */
.container-footer {
  display: flex;
  align-items: baseline;
}
.address-container {
  margin-right: 70px;
}
.footer {
  padding: 60px 0;
  background: var(--footer-background-color);
}
.footer-logo-studio {
  color: var(--primaty-bg-color);
}
.map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primaty-bg-color);
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
}
.footer-contacts {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
  color: var(--footer-contacts-color);
}
.map:focus {
  color: var(--accent-color);
}
.footer-contacts:focus {
  color: var(--accent-color);
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-primary-text);
}

.address-list .adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.address {
  margin-top: 20px;
}

/* --- Hero ---  */
.section-hero {
  text-align: center;
  padding: 200px 0;
  background-color: #2f303a;
}
.hero-title {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
/* --- Hero Overlay --- */
.overlay {
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-overlay.jpg);
}

/* --- Hero Button ---  */
.hero-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  color: var(--primaty-bg-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}

/* --- Тайтл секций ---  */
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}
.section-title.team-title {
  margin-bottom: 50px;
}

/* --- Особенности ---  */
.section-features {
  padding: 94px 0;
}

.features-icon-container {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--features-bg-color);
  padding: 25px 100px;
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-text {
  line-height: 1.71;
  color: var(--primary-text-color);
}
.features-head {
  width: 270px;
}
.features-list {
  gap: 30px;
}

/* --- Чем мы занимаемся --- */
.section-gallery {
  padding: 0 0 94px 0;
}
.gallery-list {
  display: flex;
  gap: 30px;
}
.gallery-item {
  position: relative;
}
.gallery-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--filterbutton-bg-color);
  background: rgba(47, 48, 58, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* --- Наша команда ---  */
.section-team {
  padding: 94px 0;
  background-color: var(--section-background-color);
}
.team-list {
  display: flex;
}
.team-list .team-title {
  width: ((100% - 90px) / 4);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}
.team-title {
  margin-bottom: 10px;
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
}
.team-list .team-item:not(:last-child) {
  margin-right: 30px;
}
.container-job {
  padding: 30px 0;
}
.team-item {
  background-color: var(--primaty-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
  color: var(--main-icon-color);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
}

.team-icon {
  fill: currentColor;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}
.menu-item {
  outline: 1px solid red;
  position: relative;
}
.menu-link {
  display: block;
  padding: 30px 20px;
  text-decoration: none;
  background-color: blue;
  color: white;
}
.submenu {
  position: absolute;
  padding: 15px;
  left: 1000;
  top: 100%;
  margin: 0;
  width: 100%;
  list-style: none;
  background-color: yellow;
  display: none;
}
.menu-item:hover .submenu {
  display: block;
}
/* --- Клиенты --- */
.section-clients {
  padding: 94px 0;
}
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-icon-color);
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
/* --- Присоединяйтесь ---*/
.join {
  margin-right: auto;
}
.join-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
.join-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.join-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  fill: var(--second-icon-color);
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
}

.join-link:hover,
.join-link:focus {
  background: var(--filterbutton-secondbg-color);
}

/* ------------------------------------------ */

/* --- PORTFOLIO PAGE --- */
.section-portfolio {
  padding: 94px 0;
}
/* --- Filter Buttons ---  */
.filter-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.03em;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
  color: var(--filterbutton-main-color);
  background-color: var(--filterbutton-bg-color);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--filterbutton-bg-color);
  background-color: var(--filterbutton-secondbg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filter-button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-button-list .button-item:not(:last-child) {
  margin-right: 8px;
}

/* --- Portfolio ---  */
.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-container {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: 0;
}
.portfolio-item {
  width: cacl ((100% - 60px)/3);
}

.portfolio-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.description {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  justify-content: center;
  padding: 63px 23px;
  color: var(--primaty-bg-color);
  background: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transform: translatey(101%);
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
}
.portfolio-link:hover .description,
.portfolio-link:focus .description {
  transform: translatey(0);
}

/* --- Нижняя форма ---*/
.modal-footer-form {
  display: flex;
}
.modal-footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
.modal-footer {
  display: block;
}
.footer-email {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  background: var(--hero-background-color);
  color: rgba(255, 255, 255, 0.6);
}
.footer-modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  gap: 10px;
  letter-spacing: 0.06em;
  color: var(--primaty-bg-color);
  background-color: var(--accent-color);
  border: 0;
  border-radius: 4px;
}
/* --- Модалка ---  */
.main-form {
  display: block;
  margin-bottom: 30px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 2;
  z-index: 1;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.hero-button-close {
  position: absolute;
  display: flex;
  top: 4px;
  right: 4px;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.hero-button-close:hover .close-icon {
  fill: var(--accent-color);
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}
.input-form {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.section-hero .input-name {
  text-align: left;
}
.input-name {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.comment-text {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(117, 117, 117, 0.5);
}
.policy-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}
.error {
  color: red;
  display: none;
}
.input-form:not(:focus):not(:placeholder-shown):valid {
  background-color: transparent;
}
.input-form:not(:focus):not(:placeholder-shown):invalid {
  background-color: red;
}
.modal-button-close {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 55px;
  letter-spacing: 0.06em;
  color: var(--primaty-bg-color);
  background-color: var(--accent-color);
  border: 0;
  border-radius: 4px;
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--accent-color);
}
.input-form:focus {
  outline-color: var(--accent-color);
  cursor: pointer;
}
.input-form:hover,
.comment-text:hover {
  cursor: pointer;
}
.input-form:focus + .input-icon {
  fill: var(--accent-color);
}
.comment-text:focus {
  outline-color: var(--accent-color);
}

/*.policy-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
.policy-text::before {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #212121;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-input:checked + .policy-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/check-icon-galka.svg);
  background-repeat: no-repeat;
  background-position: center;
}*/
.modal-input {
  margin-bottom: 10px;
}
.modal-input-last {
  margin-bottom: 20px;
}
.modal-input-policy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.policy-text-main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
.policy-text-main span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #212121;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon-main {
  fill: transparent;
}
.policy-input-main:checked + .policy-text-main span {
  background-color: var(--accent-color);
  border: none;
}
.policy-input-main:checked + .policy-text-main .input-icon-main {
  fill: var(--second-icon-color);
}
.policy-text-second {
  display: flex;
  font-size: 14px;
  color: gray;
  align-items: center;
  position: relative;
}
.policy-text-second::before {
  content: "";
  width: 40px;
  height: 22px;
  border: 1px solid blue;
  border-radius: 50px;
  margin-right: 10px;
}
.policy-text-second::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 2px;
  width: 18px;
  height: 18px;
  border: 1px solid blue;
  background-color: rgb(255, 102, 0);
  border-radius: 50%;
  margin-left: 0;
  transition: transform 300ms linear;
}
.policy-input-todo:checked + .policy-text-second::after {
  transform: translate(20px);
  background-color: rgb(21, 255, 0);
}
.policy-input-todo:checked + .policy-text-second::before {
  background-color: yellow;
}
