:root {
  --logo-primary-text: #000000;
  --hero-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primaty-bg-color: #ffffff;
  --section-background-color: #f5f4fa;
  --filterbutton-main-color: #212121;
  --filterbutton-bg-color: #f5f4fa;
  --filterbutton-secondbg-color: #2196f3;
  --features-bg-color: #f5f4fa;
  --main-icon-color: #afb1b8;
  --second-icon-color: #ffffff;
  --main-font: Roboto, sand-serif;
  --transition-timing-main: cubic-bezier(0.4, 0, 0.2, 1);
}
