.logo {
  text-decoration: none;
}
.logo {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.navigation__logo {
  margin-right: 93px;
}
.navigation__web {
  color: var(--accent-color);
}
