.main-form {
  display: block;
  margin-bottom: 30px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.hero-button-close {
  position: absolute;
  display: flex;
  top: 4px;
  right: 4px;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.hero-button-close:hover .close-icon {
  fill: var(--accent-color);
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}
.input-form {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.section-hero .input-name {
  text-align: left;
}
.input-name {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.comment-text {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(117, 117, 117, 0.5);
}
.policy-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}
.error {
  color: red;
  display: none;
}
.input-form:not(:focus):not(:placeholder-shown):valid {
  background-color: transparent;
}
.input-form:not(:focus):not(:placeholder-shown):invalid {
  background-color: red;
}
.modal-button-close {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 55px;
  letter-spacing: 0.06em;
  color: var(--primaty-bg-color);
  background-color: var(--accent-color);
  border: 0;
  border-radius: 4px;
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--accent-color);
}
.input-form:focus {
  outline-color: var(--accent-color);
  cursor: pointer;
}
.input-form:hover,
.comment-text:hover {
  cursor: pointer;
}
.input-form:focus + .input-icon {
  fill: var(--accent-color);
}
.comment-text:focus {
  outline-color: var(--accent-color);
}

/*.policy-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
  }
  .policy-text::before {
    content: "";
    width: 16px;
    height: 15px;
    margin-right: 5px;
    border: 2px solid #212121;
    border-radius: 3px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .policy-input:checked + .policy-text::before {
    background-color: var(--accent-color);
    border: none;
    background-image: url(../images/check-icon-galka.svg);
    background-repeat: no-repeat;
    background-position: center;
  }*/
.modal-input {
  margin-bottom: 10px;
}
.modal-input-last {
  margin-bottom: 20px;
}
.modal-input-policy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.policy-text-main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
.policy-text-main span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #212121;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon-main {
  fill: transparent;
}
.policy-input-main:checked + .policy-text-main span {
  background-color: var(--accent-color);
  border: none;
}
.policy-input-main:checked + .policy-text-main .input-icon-main {
  fill: var(--second-icon-color);
}
.policy-text-second {
  display: flex;
  font-size: 14px;
  color: gray;
  align-items: center;
  position: relative;
}
.policy-text-second::before {
  content: "";
  width: 40px;
  height: 22px;
  border: 1px solid blue;
  border-radius: 50px;
  margin-right: 10px;
}
.policy-text-second::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 2px;
  width: 18px;
  height: 18px;
  border: 1px solid blue;
  background-color: rgb(255, 102, 0);
  border-radius: 50%;
  margin-left: 0;
  transition: transform 300ms linear;
}
.policy-input-todo:checked + .policy-text-second::after {
  transform: translate(20px);
  background-color: rgb(21, 255, 0);
}
.policy-input-todo:checked + .policy-text-second::before {
  background-color: yellow;
}
