.section-clients {
  padding: 94px 0;
}
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-icon-color);
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
