.section-gallery {
  padding: 0 0 94px 0;
}
.gallery-list {
  display: flex;
  gap: 30px;
}
.gallery-item {
  position: relative;
}
.gallery-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--filterbutton-bg-color);
  background: rgba(47, 48, 58, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
